* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: Lato, sans-serif;
  color: #1e272e;
}

*:focus {
  outline: none;
}

:root {
  --header-height: 88px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 62.5%;
  background-color: #f5f6fa;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #353b48;
  padding: 12px 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
}

button,
input {
  border: none;
}

input {
  width: 150px;
  font-size: 2.2rem;
  text-align: center;
}

button[type=submit] {
  display: none;
}

main {
  height: calc(100vh - var(--header-height) - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

/* Lobby join/create form */
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form p {
  padding: 36px 0;
}

form input,
form button.create-lobby-btn {
  width: 180px;
}

button.create-lobby-btn {
  background-color: #74b9ff;
  padding: 12px;
  font-size: 1.4rem;
}

/* Game */
.board {
  height: 250px;
  width: 250px;
}

.board-row {
  display: flex;
}

.board-square {
  margin-right: -1px;
  margin-top: -1px;
  height: calc(250px / 3);
  width: calc(250px / 3);

  border: 1px solid #111;
  background-color: #ecf0f1;

  font-size: 2.4rem;
}