* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: Lato, sans-serif;
}

*:focus {
  outline: none;
}

:root {
  --header-height: 88px;

  --board-size: 250px;

  --bg-color: #1f2933;
  --text-color: #ecf0f1;

  --header-border-color: #2ecc71;

  --board-square-border-color: #2ecc71;
  --board-bg-color: #ecf0f1;
  --board-square-color: #e74c3c;

  --button-bg-color: #2980b9;
}

html,
body {
  height: 100%;
}

body {
  font-size: 62.5%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--header-border-color);
  padding: 12px 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.0rem;
}

p {
  font-size: 1.6rem;
}

button,
input {
  border: none;
}

input {
  width: 150px;
  font-size: 2.2rem;
  text-align: center;
}

button[type=submit] {
  display: none;
}

main {
  height: calc(100vh - var(--header-height) - 24px - 100px);
  width: 350px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Lobby join/create form */
.error {
  color: red;
  position: absolute;
  top: 200px;
}

.no-error {
  display: none
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form p {
  padding: 36px 0;
}

form input,
form button.create-lobby-btn {
  width: 180px;
  padding: 12px 0;
}

button {
  background-color: var(--button-bg-color);
  color: #fff;
  font-size: 1.4rem;
  padding: 12px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.create-lobby-btn {
  padding: 12px;
}

/* Game */
.player-info-container h2 {
  margin-bottom: 6px;
}

.board {
  height: var(--board-size);
  width: var(--board-size);
}

.board-row {
  display: flex;
}

.board-square {
  margin-right: -2px;
  margin-top: -2px;
  height: calc(var(--board-size) / 3);
  width: calc(var(--board-size) / 3);

  border: 2px solid var(--board-square-border-color);
  background-color: var(--board-bg-color);
  color: var(--board-square-color);

  font-size: 4rem;
}

.invite-container {
  position: absolute;
  bottom: 50px;
}

.invite-code-btn,
.new-game-btn {
  padding: 12px;
}

@media only screen and (min-width: 500px) {
  :root {
    --board-size: 350px;
  }

  .board {
    height: var(--board-size);
    width: var(--board-size);
  }

  .board-square {
    margin-right: -5px;
    margin-top: -5px;
  
    border: 5px solid var(--board-square-border-color);
  
    font-size: 6rem;
  }

  .invite-container {
    bottom: 80px;
  }

  form input,
  form button.create-lobby-btn {
    width: 300px;
  }

  button {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --board-size: 500px;
  }

  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.6rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  p,
  button {
    font-size: 2.6rem;
  }

  .board {
    height: var(--board-size);
    width: var(--board-size);
  }

  .board-square {
    margin-right: -5px;
    margin-top: -5px;
  
    border: 5px solid var(--board-square-border-color);
  
    font-size: 8rem;
  }

  .invite-container {
    bottom: 35px;
  }
}